address {
    display: block;
}

blockquote {
    display: block;
}

div {
    display: block;
}

dl {
    display: block;
}

fieldset {
    display: block;
}

form {
    display: block;
}

h1 {
    display: block;
}

h2 {
    display: block;
}

h3 {
    display: block;
}

h4 {
    display: block;
}

h5 {
    display: block;
}

h6 {
    display: block;
}

noscript {
    display: block;
}

ol {
    display: block;
}

p {
    display: block;
}

pre {
    display: block;
}

table {
    display: block;
}

ul {
    display: block;
}

dd {
    display: block;
}

dt {
    display: block;
}

li {
    display: block;
}

td {
    display: block;
}

tfoot {
    display: block;
}

th {
    display: block;
}

thead {
    display: block;
}

tr {
    display: block;
}